services:
  aria2:
    image: p3terx/aria2-pro
    container_name: aria2
    restart: unless-stopped
    ports:
      - 6800:6800
      - 6888:6888
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Bogota
      - RPC_SECRET=superpassword
      - RPC_PORT=6800
      - LISTEN_PORT=6888
      - DISK_CACHE=64M
      - IPV6_MODE=false
      - UPDATE_TRACKERS=true
    volumes:
      - /home/daniel/daniel-homelab-core/config/downloader/aria2:/config
      - /home/daniel/daniel-homelab-core/data/downloads:/downloads

  ariang:
    image: p3terx/ariang
    container_name: ariang
    restart: unless-stopped
    ports:
      - 6880:6880
    environment:
      - PUID=1000
      - PGID=1000
    depends_on:
      - aria2

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Bogota
      - WEBUI_PORT=8085
    ports:
      - 8085:8085       # WebUI
      - 6881:6881       # Torrent TCP
      - 6881:6881/udp   # Torrent UDP
    volumes:
      - /home/daniel/daniel-homelab-core/config/downloader/qbittorrent:/config
      - /home/daniel/daniel-homelab-core/data/downloads:/downloads

  unpackerr:
    image: ghcr.io/hotio/unpackerr:latest
    container_name: unpackerr_simple
    environment:
      # Todas estas lineas deben estar al mismo nivel de indentación y con guion
      - PUID=1000
      - PGID=1000
      - TZ=America/Bogota
      
      # Solo monitorea la carpeta de descargas, sin integración 'arr'
      - UN_PATH="/downloads"
      
      # Elimina los archivos comprimidos después de la extracción exitosa
      - UN_DELETE_ORIGINAL="true"
      
      # Lista de contraseñas comunes (sepradas por coma)
      - UN_PASSWORDS="zonaleros,www.my-site.com,mysite,password,12345,etc"

    volumes:
      # Monta tu carpeta real de descargas en el contenedor como /downloads
      - /home/daniel/daniel-homelab-core/data/downloads:/downloads
      # Volumen para que unpackerr guarde su configuración interna y logs
      - /home/daniel/daniel-homelab-core/config/downloader/unpackerr:/config
  
    restart: unless-stopped